<launch>
  <!-- Upload gripper URDF to robotiq_3f_description -->
  <param name="robotiq_3f_description"
          command="$(find xacro)/xacro '$(find robotiq_3f_gripper_visualization)/cfg/robotiq-3f-gripper_articulated.xacro'"/>

  <!-- Start the publisher for the left hand (the only hand) -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robotiq_hands_l_hand_robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="joint_states" to="/robotiq_hands/left_hand/joint_states" />
  </node>
</launch>
